body {
  margin: 0;
}

.Ball {
  background-color: lightblue;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 5rem;
  height: 3rem;
  padding-top: 1.4rem;
  text-align: center;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.Lottery {
  background-color: turquoise;
  padding: 1rem 0 2rem 0;
  text-align: center;
  margin: 1em auto auto;
  border-radius: 15rem;
  width: 40rem;
  color: crimson;
}

.Lottery button {
  background-color: crimson;
  color: white;
  font-size: 120%;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}
